# Next Generation test model for MultiModal module
# reproduces "base" VERSPM from VEModel, but provides alternate run script
# to exercise the MultiModal features.
VERSPM:
  variants:
    av:
      description: VERSPM 3.0 with Autonomous Vehicle module
      config: visioneval-av.cnf
      scripts: scripts
      inputs: inputs
      defs: defs
